body
{
    padding-top: 40px;
}

#forTextBlock
{
    background-color: #e3f2fd;
}

h4
{
    padding-top: 1rem;
}

#forEmail
{
    padding-top: 1rem;
}

nav
{
    background-color: #e3f2fd;
    font-size: x-large;
}